*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body style section. Mostly used for background style.*/
body
{
    /* I found flex-direction columns worked better for this since I'm emulating a mobile style design. Mostly preference though I suppose.*/
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    min-width: 100vw;
    padding: 1vh;
    background-color:#29222b;
    /*Super cool homemade star pattern background. Scales nicely cause it's an svg and repeats nicely because I'm an artistic genius. */
    background-image: url("../assets/coloredStars.svg");
    background-repeat: round;

    /*FIX ME: If it's going to be a backup option it needs to actually trigger and not just be commented out*/

    /* BACKUP STAR PATTERN MADE PURELY WITH CSS IN CASE BACKGROUND IMG SVG FAILS
    background: linear-gradient(45deg, #353241, #7257c5);
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
    

    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    */
}

/*Style used for frosted glass wrapper that goes around much of the pages content.*/
.glassWrapper
{
    background-color: rgba(255, 255, 255, 0.1);
    border-style: outset;
    border-color: rgb(167, 167, 167);
    border-width: 5px;
    border-radius: 2%;
    backdrop-filter: blur(4px);
    width: 80vw;
    height: fit-content;
    justify-content: center;
    align-self: center;
    padding: 2rem;
}

/*Exclusively used for the neon sign header section at the moment*/
.headerDiv
{
    display: flex;
    padding: 1%;
    align-self: center;
}

/*Style section for the neon flashing sign header.*/
.neonText 
{
    font-family: "Neonderthaw", cursive;
    font-size: 10vw;
    animation: flicker 5s infinite alternate;
    color: #fff;
    background-color:rgba(32, 30, 34, 0.85);
    border-radius: 50%;
    border-style: inset;
    border-color: #ffffff;

}

/* Flickering animation for the neon sign header*/
@keyframes flicker 
{
    0%, 18%, 22%, 25%, 53%, 57%, 100% 
    {
        text-shadow:
        0 0 4px #e0e0e0,
        0 0 11px #e0e0e0,
        0 0 19px #e0e0e0,
        0 0 40px #ae00ff,
        0 0 80px #ae00ff,
        0 0 90px #ae00ff,
        0 0 100px #ae00ff,
        0 0 150px #ae00ff;
    }
    
    20%, 24%, 55% 
    {        
        text-shadow: none;
    }    
}

.indexGreeting
{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

/*Grid layout organization for the content section*/
.glassWrapper .contentDiv
{
    grid-column: 1 / span 2;
    grid-row: 1 / 4;
    padding: 2%;
}

/*General text content styling*/
h2
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vw;
    color: #ffffff;
}

h3
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
    color: #ffffff;
}

p
{
    font-family: "Edu QLD Beginner", cursive;
    font-weight: normal;
    font-size: 1.5vw;
    color: #ffffff;
}

/*Grid layout organization for the profile picture on the home page*/
.glassWrapper .homePFP
{
    grid-column: 3;
    grid-row: 1 / 4;
    padding: 2%;
    max-width: 40vw;
}

#nametag
{
    background-color: #797979e3;
    border: 4px outset #444444;
    border-radius: 2% / 20%;
    padding-left: 5%;
}

/*Image manipulation by element ID for the profile picture on the home page*/
#homePFP
{
    max-width: 100%;
    max-height: 100%;
    border-radius: 20%;
}

.indexTiles{
    display: block;
}

#tile1
    {
        background: url(../assets/ArtTile.png) 50% 50% no-repeat; /* 50% 50% centers image in div */
        background-size: 80vw 20vh;
        width: auto;
        height: 40vmax;
        border-radius: 10% / 5%;
        text-align: center;
    }
    #tile2
    {
        background: url(../assets/AudioTile.png) 50% 0% no-repeat;
        background-size: 80vw 20vh;
        width: auto;
        height: 40vmax;
        border-radius: 10% / 5%;
        text-align: center;
    }
    #tile3
    {
        background: url(../assets/CodeTile.png) no-repeat; 
        background-size: 80vw 20vh;
        width: auto;
        height: 40vmax;
        border-radius: 10% / 5%;
        text-align: center;
    }
    #tile4
    {
        background: url(../assets/PhotographyTile.jpg) 50% 50% no-repeat; 
        background-size: 80vw 20vh;
        width: auto;
        height: 40vmax;
        border-radius: 10% / 5%;
        text-align: center;
    }

.glassWrapper .gallery3col
{
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto;
    row-gap: 10%;
    column-gap: 5%;
    box-sizing: border-box;
    padding: 5%;
    clear: left;
}

#audioHeader
{
    text-align: center;
}

#audioHeader h2{
    font-family: "Edu QLD Beginner", cursive;
    font-weight: bolder;
}

.album
{
    max-width: 20vw;
    max-height: 40vw;
    border: 4px solid rgb(27, 25, 31);
    border-radius: 2%;
}

figure{
    max-width: 20vw;
    border-radius: 2%;
    background-color: rgb(27, 25, 31);
    color: white;
    transition: box-shadow 0.3s ease;
    transform: scale(1);
    transition: transform 0.3s ease;
}

figcaption{
    display: none;
}

figure:hover 
{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.5);
    z-index: 1000;
    animation-duration: 1s;
    animation-name: appear;
    animation-direction: alternate;
}

@keyframes appear{
    0%    { opacity: 0; }
    100%  { opacity: 1; }
}

figure:hover figcaption{
    display: block;
    padding: 2%;
    font-family: "Edu QLD Beginner", cursive;
    font-weight: 400;
    font-size: 1vw;
}

.glassWrapper .photoGallery
{
    columns: 15rem 4;
    gap: 1.4rem;
    align-content: center;
}

.glassWrapper .photoGallery img
{
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.7rem;
}

.glassWrapper .photoGallery img:hover
{
    transform: scale(1.2);
}

.glassWrapper .artGallery img
{
    max-width: 100%;
}

.glassWrapper .artGallery img:hover
{
    transform: scale(1.2);
}

#cubeTutorial
{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*Style for main menu node*/
.menu
{
    /*Apperently sticky is better supported for mobile than fixed*/
    position: -webkit-sticky;
    position: sticky;
    bottom: 4%;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-self: center;
}

/*Style for main menus children list elements*/
.menu li
{
    position: absolute;
    bottom: 0px;
    left: 0;
    list-style: none;
    transform-origin: 200px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(160px);
}

/*Rotation animation for navigation menu list items when activated. Weirdly enough, 220deg works better than 180? Presumably due to icon size.*/
.menu.active li
{
    transform: rotate(calc(220deg / 6 * var(--i)));
}

.menu li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 90px;
    height: 90px;
    background: #ffffff;
    border-radius: 50%;
    transform: rotate(calc(220deg / -6 * var(--i)));
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    color: #111;
    transition: 0.5s;
}

/*Change icon color on mouse hover.*/
.menu li a:hover
{
    color: #9957c5;
}

.toggle
{
    position: absolute;
    bottom: 0px;
    width: 120px;
    height: 120px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0,0,0,0.15);
    font-size: 2em;
    transition: transform 1.25s;
}

.menu.active .toggle
{
    transform: rotate(315deg);
}

@media screen and (min-width: 650px), print{
    .indexTiles
    {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
    }

    #tile1
    {
        background: url(../assets/ArtTile.png) 50% 50% no-repeat; /* 50% 50% centers image in div */
        background-size: 20vw 80vh;
        width: auto;
        height: 40vmax;
        grid-column: 1;
        grid-row: 5;
        border-radius: 10% / 5%;
        text-align: center;
    }
    #tile2
    {
        background: url(../assets/AudioTile.png) 50% 0% no-repeat;
        background-size: 20vw 80vh;
        width: auto;
        height: 40vmax;
        grid-column: 2;
        grid-row: 5;
        border-radius: 10% / 5%;
        text-align: center;
    }
    #tile3
    {
        background: url(../assets/CodeTile.png) no-repeat; 
        background-size: 20vw 80vh;
        width: auto;
        height: 40vmax;
        grid-column: 3;
        grid-row: 5;
        border-radius: 10% / 5%;
        text-align: center;
    }
    #tile4
    {
        background: url(../assets/PhotographyTile.jpg) 50% 50% no-repeat; 
        background-size: 20vw 80vh;
        width: auto;
        height: 40vmax;
        grid-column: 4;
        grid-row: 5;
        border-radius: 10% / 5%;
        text-align: center;
    }
}